/*
 * Components
 * @author mfyance
 */

layout,
menu,
article,
aside,
footer,
header,
nav,
section {
    display: block;
}


html,
body {
    height: inherit;
    width: 100%;
    background: #fff;   
}


html {
    width: 100%;
    font-size: 62.5%;
}


body {
    font-family: var(--font-primary);
    color: var(--color-primary);
    background: #fff;
    overflow: hidden;
    -webkit-transition: background .3s ease-in-out;
    -o-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}


section {
    width: 100%;
    position: relative;
}


h1,
h2,
h3,
h4 {
    font-family: var(--font-secondary);
    font-weight: 700;
}


h2,
h3,
h4 {
    text-align: left;
}


h1 {
   font-size: var(--font-size-xl);
   text-align: center;    
}


h2 {
    color: var(--color-primary);
    font-size: var( --font-size-md);
}


h3 {
    color: var(--color-terciary);
    font-size: max(27px, 1vw);
}



h4 {
    font-size: max(15px, 1vw);
}


span {
    font-size: max(15px, .5vw);
}


p { 
    font-family: var(--font-primary);
    color: var(--color-primary);
    text-align: left;
    font-weight: 300;
    font-size: var(--font-size-xxs);
}


hr {
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    border-width: 0;
    border-top: 1px solid #E1E1E1; 
}


.mira-historia {
    display: inline-block;
    width: 18em;
    padding: 0.5em 1.5em;
    border-radius: 1em;
    border: none;
    background: var(--color-secondary);
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    Letter-spacing: 0.23em;
    margin-top: 7px;
    z-index: 1000;
}

[layout-max] {max-width: var(--layout-max);margin: 0 auto;display: flex;justify-content: center;}