extends ../templates/layout

append config
  - pageTitle= "Inicio"

prepend header
  div.header__banner
    .header__body
      .header__logo
        img(src="../../src/assets/img/logo/logo.svg", alt="beez company")
      .header__content
        h2.header__content-title Empecemos a construir tu éxito
        p.header__content-paragraph
          | Estamos preparados para diseñar soluciones en tus productos y servicios
        button.button-primary COMENCEMOS AHORA
block content
  +section("Nuestras especialidades")
    +slot("content")
      +cardFluid("Páginas web", "Date a conocer a todo el mundo con una pàgina enfocada en la necesidad del usuario, moderna, efectiva y accesible desde cualquier aparato tecnológico.", "pagina-web.svg", "","cream")
      +card("Marketing y Publicidad Digital", "Es necesario utilizar las diferentes herramientas tecnológicas existentes para complementar las estrategias de ventas y contacto a través de los canales de comunicación que te generarán valor.", "marketing.svg","reverse","cream")
      +cardFluid("Sistemas de Información", "Implementamos Sistemas de Información que sea adaptable a las necesidades de los usuarios, que darán rentabilidad a la empresa a raíz de procesos definidos, tecnología escalable e interfaz con un alto nivel de Experiencia de Usuario.", "sistema-informacion.svg","","cream")
      +card("Outsourcing de TI", "Queremos ser tu parte de tu equipo estratégico de tecnología, así brindarte ideas, diseño, desarrollo y soporte a cualquier necesidad que presente tu empresa en el ámbito de tecnología.", "outsourcing.svg","reverse","cream")
      +cardFluid("Formación de Equipos", "Audita y Desarrolla las capacidades técnicas y habilidades blandas de tu equipo, con clases personalizadas, enfocado en trabajo colaborativo y con ejemplos relacionados a lo que actualmente está necesitando.", "formacion-equipos.svg","","cream")

  +section("Qué más te ofrecemos")
    +slot("content")
      +cardFluid("Laboratorio Educativo", "Somos conciente que la educación es vital para el crecimiento individual y de equipos, por ello hemos creado el Laboratorio Beez donde enfocamos cursos personalizados sobre diferentes tecnologías, herramientas, metodologías ágiles, habilidades blandas, entre otros, con la finalidad de evolucionar la manera actual como tu empresa, área de trabajo y/o pequeño squads se desenvuelve en esta era de transformación digital", "laboratorio-educativo.svg", "","white")
      +cardFluid("Laboratorio de Emprendimientos", "Estamos aliados con diferentes profesionales que pueden hacer llevar a cabo la concretización y viabilidad de una idea de negocio. También nos amoldamos por generar ideas para el resurgimiento o desarrollo de un negocio ya establecido.", "laboratorio-emprendimiento.svg","reverse","white")
      +cardFluid("Laboratorio de Reclutamiento", "Tenemos diferentes contactos empresariales y de profesionales en el Perú y el mundo. Por la cual estamos seguros de hacer alcanzar el objetivo, de encontrar la persona idónea para ese puesto laboral.", "laboratorio-reclutamiento.svg","","white")
      +cardFluid("Bolsa de trabajo", "Estamos trabajando en la creación de una Bolsa de trabajo que tiene un enfoque cristiano, ya que actualmente existen algunas empresas que buscan perfiles con característica muy particular y doctrinas específicas.", "bolsa-trabajo.svg","reverse","white")