mixin card(title, text, img, direction, backgroundCard)
  div.row.card(class=`${direction === 'reverse' ? 'card--reverse' : ''}`)
    div.col-12.col-sm-12.col-md-6.card__body(class=`${backgroundCard ? 'card__body--'+backgroundCard: ''}`)
      img(src="../../src/assets/img/icono-hexagono.svg", alt="").card__icon
      h3.card__title= title
      p.card__content= text
    div.col-12.col-sm-12.col-md-6.card__thumbnail
      img(src=`../../src/assets/img/ilustrations/${img}`, alt=title).card__image

mixin cardFluid(title, text, img, direction, backgroundCard)
  div.row.card.card--fluid(class=`${direction === 'reverse' ? 'card--reverse' : ''}`)
    div.col-12.col-sm-12.col-md-8.card__body(class=`${backgroundCard ? 'card__body--'+backgroundCard: ''}`)
      img(src="../../src/assets/img/icono-hexagono.svg", alt="").card__icon
      h3.card__title= title
      p.card__content= text
    div.col-12.col-sm-12.col-md-4.card__thumbnail
      img(src=`../../src/assets/img/ilustrations/${img}`, alt=title).card__image
