mixin section(title)
  - let slots = {}
  section.section
    img(src="../../src/assets/img/icono-hexagono.svg", alt="").section__icon
    h2.section__title= title
    mixin slot(key)
      - slots[key] = block
    - block()
    if slots.content
      div.section__content
        - slots.content()