div.header
  block header
    ul.header__menu
      each menuItem in menu
        li.header__menu-item
          a(href=menuItem.url).header__menu-item-link= menuItem.title
          if menuItem.child.length
            ul.header__submenu
              each submenuItem in menuItem.child
                li.header__submenu-item: a(href=submenuItem.url)=submenuItem.title
