<meta charset="utf-8">
<meta name="encoding" charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta http-equiv="Content-Type" content="text/html">

<meta name="robots" content="all, index, follow">
<meta name="googlebot" content="all, index, follow">
<meta http-equiv="cache-control" content="no-cache">
<meta property="og:type" content="website" >
<meta name="twitter:card" content="summary_large_image">

<meta property="og:locale" content="es_ES">
<meta property="og:locale:alternate" content="es_ES">
<meta http-equiv="content-language" content="es_ES">
<meta name=apple-mobile-web-app-capable content="yes">

<meta name="owner" content="Beez.pe">
<meta name="author" content="Beez.pe">
<meta name="publisher" content="Beez.pe">
<meta name="copyright" content="Beez.pe">
<meta name="twitter:creator" content="Beez.pe">
<meta name="twitter:site" content="Beez.pe">
<meta name="generator" content="Beez.pe">
<meta name="organization" content="Beez.pe">

<meta property="og:image:width" content="598">
<meta property="og:image:height" content="274">
<link rel="icon" sizes="192x192" href="favicon.jpg">
<link rel="icon" sizes="32x32" href="favicon.jpg">
<meta property="twitter:image" content="favicon.jpg">
<meta property="og:image" content="favicon.jpg">
<meta property="og:image:secure_url" content="favicon.jpg">
<link rel="apple-touch-icon-precomposed" href="favicon.jpg">
<meta name="msapplication-TileImage" content="favicon.jpg">
<link rel="icon" type="image/jpg" href= "favicon.jpg">

<meta property="og:url" content="url">
<meta property="og:site_name" content="url">
<meta property="twitter:url" content="url">
<link rel="canonical" href="url">
<link rel="shortlink" href="url">
<link rel="dns-prefetch" href="//s.w.org">
<link rel="dns-prefetch" href="//fonts.googleapis.com">

<meta name="description" content="Descripcion">
<meta name="twitter:description" content="Descripcion">
<meta property="og:description" content="Descripcion">
<meta name="keywords" content="Descripcion">

<meta property="og:title" content="Titulo">
<meta name="twitter:title" content="Titulo">
<meta name="dcterms.title" content="Titulo">
<meta name="DC.title" content="Titulo">
<meta name="application-name" content="Titulo">
<meta name="title" content="Titulo">