
.header__banner {
  height: 780px;
  display: flex;
  justify-content: flex-end;
  background: url("../../../src/assets/img/ilustrations/banner-pintado.svg") no-repeat;
  background-size: cover;
}

.header__body {
  width: 475px;
  font-family: "brown-bold";
  color: $color-violet;
  text-align: center;
  margin-right: 15rem;
  margin-top: 6rem;
}

.header__logo {
  margin-bottom: 1rem;
}

.header__content-title {
  font-size: $font-size-display;
  font-weight: $font-weight-bold;
  line-height: $line-height-display;
  margin-bottom: 1rem;
}

.header__content-paragraph {
  font-family: "brown-light";
  font-size: $font-size-display-small;
  font-weight: $font-weight-semibold;
  line-height: $line-height-display-small;
  margin-bottom: 1rem;
}