.section{
  &__icon{
    vertical-align: baseline;
  }
  &__title{
    display: inline-block;
    color: $color-violet;
    font-size: $font-size-title;
    line-height: $line-height-title;
    font-weight: $font-weight-bold;
    &:after{
      content:"";
      display: block;
      height: 3px;
      width: 60px;
      background: $color-yellow;
    }
  }
  &__content{

  }
}