- let siteName = 'Beez'
- let pageTitle = 'Nueva página'

-
  let menu = [
    {
      title: "Nosotros",
      url: "",
      child: [
        {
          title: "Quienes somos",
          url: ""
        },
        {
          title: "Propuesta de valor",
          url: ""
        },
        {
          title: "Proceso de trabajo",
          url: ""
        },
        {
          title: "Que nos diferencia",
          url: ""
        },
      ]
    },
    {
      title: "Nuestras especialidades",
      url: "",
      child: [
        {
          title: "Páginas web",
          url: ""
        },
        {
          title: "Marketing digital",
          url: ""
        },
        {
          title: "Sistemas de Información",
          url: ""
        },
        {
          title: "Outsourcing de TI",
          url: ""
        },
      ]
    },
    {
      title: "Nuestros servicios",
      url: "",
      child: [
        {
          title: "Estrategias digitales",
          url: ""
        },
        {
          title: "Identidad de marca",
          url: ""
        },
        {
          title: "Diseños de servicio de TI",
          url: ""
        },
        {
          title: "Diseños de servicios e innovación",
          url: ""
        },
      ]
    },
    {
      title: "Qué más ofrecemos",
      url: "",
      child: [
        {
          title: "Laboratorio educativo",
          url: ""
        },
        {
          title: "Laboratorio de emprendimientos",
          url: ""
        },
        {
          title: "Laboratorio de reclutamiento",
          url: ""
        },
        {
          title: "Bolsa de trabajo",
          url: ""
        },
      ]
    }
  ]