

.button-primary {
  border: none;
  padding: 10px 15px;
  text-align: center;
  color: $color-violet;
  background: $color-yellow;
  font-size: $btn-font-size;
  font-family: "brown-bold";
  border-radius: $btn-radius;
  line-height: $btn-line-height;
  font-weight: $btn-font-weight;
  letter-spacing: 1.5px;
}

