// File: _variables.scss

// colors

$color-violet: #582D4E;
$color-yellow: #FFD700;
//$color-cream: #F9F8FD;
$color-cream: rgb(227, 222, 247);
$color-white: #FFFFFF;


// font

$font-weight-bold:     bold;
$font-weight-semibold: 500;
$font-weight-light:    300;
$font-family-mont:     "Mont";

//display
$font-size-display:    55px;
$line-height-display:  55px;

$font-size-display-small:    22px;
$line-height-display-small:  25px;

// title
$font-size-title:      35px;
$line-height-title:    45px;

// subtitles
$font-size-subtitle:   23px;
$line-height-subtitle: 29px;

// paragraph
$font-size-text:       15px;
$line-height-text:     19px;


// buttons
$btn-radius: 34px;
$btn-font-size: 12px;
$btn-line-height: 13px;
$btn-font-weight: 800;