/*
 * Home
 * @author mfyance
 */

@charset "utf-8";


section {
    position: relative;
}

 .logo {
    width: 20%;
    margin:5px 30px 0 30px;
}


 .vectores-de-anclaje {
    margin:10px 20px;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}


.vectores-de-anclaje div {
    position: relative;
    display: inline-block;
    margin-left:1px;
    min-width: 52px;
    width: 90%;
    z-index: 1;
    margin-left: 9px;
}

/*PRIMERA SECCIÓN CAPITULO 1*/

.capitulo-1 {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}


 .entrada-interbank {
    display: grid;
    grid-gap: 2em 1em;
    grid-template-columns: auto 1fr;
}


 .entrada-interbank > * {
    grid-column: 2;
}


 .contenedor-vector {
    grid-column: 1;
    grid-row: 2;
    transform: translateY(-50%);
}


/*cap despliegue CAROUSEL*/


.despliegue-historia {
    display: none;
    margin: 1.5em 0;
    grid-row: 6/7;
    grid-column: 1/5 !important;
}


.despliegue-historia h3 {
    margin: 1em 3em;
}


input[id^="miraHist"] {
    display: none;
}


input[id="miraHistoria"]:checked ~ .despliegue-1 {
    display: block;
}


input[id="miraHistoria2"]:checked ~ .despliegue-2 {
    display: block;
}


input[id="miraHistoria3"]:checked ~ .despliegue-3 {
    display: block;
}


input[id="miraHistoria4"]:checked ~ .despliegue-4 {
    display: block;
}


input[id="miraHistoria5"]:checked ~ .despliegue-5 {
    display: block;
}


input[id="miraHistoria6"]:checked ~ .despliegue-6 {
    display: block;
}


input[id="miraHistoria7"]:checked ~ .despliegue-7 {
    display: block;
}


input[id^="miraHist"]:checked + .mira-historia::after {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-left: 0.5em;
    vertical-align: middle;
    background: url(../../img/flecha_blanca2.svg) no-repeat 50% 50% / contain;
}


input[id^="miraHist"]:checked + .mira-historia {
    background: Var(--color-primary);
}

 
.owl-carousel.owl-theme {
    width: 80%;
    margin:0 auto;
}


/*--------------------*/
    

/*----FOOTER------*/

.copyright {
    text-align: center;
    padding:60px 0 60px 0;
    font-size: var(--font-size-xxs);
    font-weight: 600;
    line-height: 24px;
    margin-top: 5em;
}

/*--------------------*/

/*---CLASES GENERALES---*/

.seccion-capitulo {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr;
    align-items: flex-start;
    justify-items: center;
    max-width: 1600px;
    padding: 0 20px 0 20px;
}


.hexagono-yellow {
    background-image: url(../../img/vector_grande_sinfondo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-image: fixed;
    position: relative;
    width:100%;
    height: 100%;
    max-width:420px;
    min-height: 400px;
}


.hexagono-yellow {
    grid-row: 1/6;
    grid-column: 3/4 !important;
}


.seccion-capitulo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: 50% 50%;
}


.seccion-capitulo:nth-child(even) > .contenedor .hexagono-yellow {
    grid-row: 1/6 !important;
    grid-column: 1/3 !important;
}


.seccion-capitulo:nth-child(even) > .contenedor {
    grid-template-columns: 1fr auto 1fr !important;
}


.seccion-capitulo:nth-child(even) > .contenedor h2 {
    grid-row: 1/2 !important;
    grid-column: 3/4 !important;
}


.seccion-capitulo:nth-child(even) > .contenedor p {
    grid-row: 2/3 !important;
    grid-column: 3/4 !important;
}


.seccion-capitulo:nth-child(even) > .contenedor .mira-historia {
    grid-row: 3/4 !important;
    grid-column: 3/4 !important;
}


.seccion-capitulo:nth-child(even) > .contenedor::before {
    grid-row: 1 !important;
    grid-column: 2/3 !important;
}


 .contenedor {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: auto 1fr 1fr;
    top: 20%;
    position: relative;
}


.mira-historia {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column: 2/3 !important;
}


.contenedor > * {
    grid-column: 2;
}


.contenedor::before {
    grid-column: 1;
    content: "";
    display: block;
    width: 48px;
    height: 48px;
    background: no-repeat 50% 50% / contain;
}


.seccion-capitulo-1 .contenedor::before {
    background-image: url(../../img/group_purple_1.svg);
}


.seccion-capitulo-2 .contenedor::before {
    background-image: url(../../img/group_yellow_2.svg);
}


.seccion-capitulo-3 .contenedor::before {
    background-image: url(../../img/group_yellow_3.svg);
}


.seccion-capitulo-4 .contenedor::before {
    background-image: url(../../img/group_yellow_4.svg);
}


.seccion-capitulo-5 .contenedor::before {
    background-image: url(../../img/group_yellow_5.svg);
}


.seccion-capitulo-6 .contenedor::before {
    background-image: url(../../img/group_yellow_6.svg);
}


.seccion-capitulo-7 .contenedor::before {
    background-image: url(../../img/group_yellow_7.svg);
}


.mira-historia::after {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-left: 0.5em;
    vertical-align: middle;
    background: url(../../img/flecha_blanca.svg) no-repeat 50% 50% / contain;
}


.mira-historia:hover {
    background: var(--color-primary);
}

/*----------------------------------------------*/

/*RESPONSIVE DESIGN*/

@media (max-width: 420px) {
    
    .hexagono-yellow {
        max-width: 276px !important;
        min-height: 243px !important;
        margin-top: 2em !important;
    }  
}


@media (max-width: 500px) {

    .despliegue-historia h3 {
        text-align: center;
    }


    .logo {
        width: 20%;
        margin: 0px 0px 7px 6px;
    }

    .vectores-de-anclaje div {
        min-width: 34px;
        max-width:34px;
    }


    .contenedor {
        grid-gap:1em;
    }

    .contenedor > p,
    .contenedor > button {
        grid-column: 1/3;
    }


    .contenedor {
        padding: 5px;
    }


    .contenedor::before {
        width: 46px;
        height: 46px;
        align-self: center;
    }


    h1 {
        font-size: var(--font-size-xxl);
    }


    h2 {
        font-size: var(--font-size-xxl);
        align-self: center;
    }


    p {
        font-size: var(--font-size-md);
        width: 95% !important;
    }

    
    .mira-historia {
        font-size: var(--font-size-xs);
    }


    .carousel__elemento img {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }


    .capitulo-1b h4,
    .capitulo-1b p {
        display: none;
    }


    .vectores-de-anclaje div {
        min-width: 30px;
        max-width: 40px;
    }

    .vectores-de-anclaje img {
        max-width: 32px;
    }


    .contenedor {
        display: grid;
        grid-gap: 1em;
        grid-template-columns: auto 1fr;
        margin-top: 0 !important;
    }


    .carousel__elemento img {
        width: 77% !important;
        height: 70%;
    }


    .copyright {
       font-size: var(--font-size-md);
    }


    .despliegue-historia h3 {
        margin: 0; 
        text-align: center;
    }


    .seccion-capitulo {
        grid-template-columns: 1fr;
    }


    .hexagono-yellow {
        max-width: 297px;
        min-height: 262px;
        margin-top: 2em;
    }    

}


@media (max-width:600px){
 
    .capitulo-1 {
       grid-gap: 0.8em;
     }


    .carousel__elemento img {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }


    .vectores-de-anclaje div {
        min-width: 30px;
        max-width: 40px;
    }

    h2 {
        font-size: var(--font-size-lg);
    }


    .seccion-capitulo {
        grid-template-columns: 1fr;
        grid-row-gap: 2em;
    }
    
 
 }


@media (max-width: 1000px) {

    .contenedor > * {
        grid-column: 2/7;
    }

    .seccion-capitulo {
        margin: auto;
        padding: 0 20px 0 48px;
    }

    .seccion-capitulo:nth-child(even) > .contenedor {
        display: grid;
        column-gap: 1em;
        grid-template-columns: auto 1fr !important ;
        margin-top: 30px;
    } 

    .seccion-capitulo:nth-child(even) > .contenedor .hexagono-yellow {
        grid-row: 5 !important;
        grid-column: 1/6 !important;
    }


    .seccion-capitulo:nth-child(even) > .contenedor .mira-historia {
        grid-row: 6 !important;
        grid-column: 3/4 !important;
    }


    .seccion-capitulo:nth-child(even) > .contenedor * {
        grid-column: 2/7 !important;
    } 


    .seccion-capitulo:nth-child(even) > .contenedor .despliegue-historia {
        grid-row: 7;
        grid-column: 1/5 !important;
    }


    .despliegue-historia h4,
    .despliegue-historia p {
        text-align: center;
    }


    .despliegue-historia h3 {
        text-align: center;
        font-size: var(--font-size-xxs);
    }


    .contenedor {
        display: grid;
        column-gap: 1em;
        grid-template-columns: auto 1fr;
        margin-top: 30px;
    }


    .vectores-de-anclaje div {
        min-width: 23px;
        max-width: 40px;
        margin-left: 2px;
    }


    p {
        width: 80%;
    }


    h2 {
        width: 80%;
    }


    .seccion-capitulo:nth-child(odd) > .contenedor{
        order:0;
    }


    .contenedor::before {
        width: 38px;
        height: 38px;
    }


    .seccion-capitulo:nth-child(even) > .contenedor{
        order: 0;
    }


    .despliegue-historia {
        padding-top: 10em;
    }


    .hexagono-yellow {
        grid-row: 3/5;
        grid-column: 1/9 !important;
    }


    .mira-historia {
        grid-row: 5/6;
    }

}


@media(min-width:801px) and (max-width:1200px) {

    .seccion-capitulo {
        margin: 12em auto;
        padding: 0 20px 0 48px;
    }


    .hexagono-yellow {
        max-width: 422px;
        min-height: 401px;
        width: 110%;
    }

}


@media (min-width: 1200px) {

    .despliegue-historia {
        margin: 6em auto;
    }


    .seccion-capitulo {
        margin: 6em auto;
        padding: 0 20px 0 75px;
    }
   
   
    .copyright {
        padding: 0px 0 60px 0;
        font-size: 1.8vw;
    }


    .vectores-de-anclaje div{
        margin-left: 4px;
    }


    .vectores-de-anclaje div,
    .vectores-de-anclaje div img {
        min-width: 70px;
    }

    .contenedor::before {
        width: 80px;
        height: 80px;
    }


    h1 {
      font-size: clamp(65px, 42px, 67px);
    } 
    
    h2 {
        font-size: clamp(40px, 35px, 52px);
    } 
    
    
    h3 {
        font-size: clamp(20px, 15px, 43px);
    } 
    
    
    h4 {
        font-size: clamp(10px, 5px, 30px);
    }

    p {
        width: 90%;
    }
    
    

}