include ../mixins/main
block config
  include ../config

doctype
html(lang="es")
  head
    include includes/meta-tags
    title= `${pageTitle} | ${siteName}`
    link(rel="stylesheet", href="../assets/css/main.css")
  body
    header
      include includes/header

    main.container
      block content

    footer
      include includes/footer